<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgMXuMtV0H27mSvOJJeLksRywylll6XxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>817565878332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haashMovingChart</string>
	<key>PROJECT_ID</key>
	<string>moving-chart-c0474</string>
	<key>STORAGE_BUCKET</key>
	<string>moving-chart-c0474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817565878332:ios:e51b661558d1ae2a5d1b39</string>
</dict>
</plist>